<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  
  </style>
</head>
<body background="pic/bg1.jpg">


<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="pic/slider1.jpg"  width="460" height="345">
        
      </div>

      <div class="item">
        <img src="pic/slider2.jpg"  width="460" height="345">
        
      </div>
    
      <div class="item">
        <img src="pic/slider3.jpg" width="460" height="345">
        
      </div>

      <div class="item">
        <img src="pic/slider4.jpg" width="460" height="345">
        
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container who-we">

<div class="wel-info text-center">
<h2>Who We Are?</h2>
<span class="brk"></span>
<p>Hi Job Seekers! Welcome to MyJobPortal.com - your friendly online Job Portal.
We could suggest a better way out for faster recruitment, a job portal which is meant foremployers,
 job seekers and recruiters. For employers looking to recruit the most qualifiedcandidates,
   it offers modern technology and superior services to simplify your recruitment process.For individuals
    thinking about new job, new career, or new direction, it helps you explorethe possibilities and find the 
    opportunities that are right for you. Whether you are lookingfor a job or a new member of your staff team,
     you definitely have the right place. The best way to change your career or get the right people for the jobs 
     is quite easy now
</div>
</div>
<script> $('.carousel').carousel();</script>
</body>
</html>
