<div ng-if="currentUser==undefined">
{{gotologin()}}
</div>

<<style>
body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
body{
    background:url('pic/bg8.jpg');
   
}
</style>

<div class="container" ng-repeat="pendingRequest in pendingrequests">
       <div class="col-sm-4"> 
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://localhost:8090/project2_backend/getimage/{{pendingRequest.fromId}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            <a href="#/getUserDetails/{{pendingRequest.fromId}}">{{pendingRequest.fromId}}</a></h4>
                        
                        <a href="" ng-click="updatePendingRequest(pendingRequest,'A')" class="btn btn-primary btn-lg">Accept</a>
                        <a href="" ng-click="updatePendingRequest(pendingRequest,'D')" class="btn btn-primary btn-lg">Deny</a>
                        
                    </div>
                </div>
            </div>
        </div>
</div>


<br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>













